@use "../../assests/sass/theme" as theme;

.ant-btn {
  border-radius: 2.25rem; /* 36px */
  padding: 0.625rem 1.5rem; /* 10px , 24px */
  height: unset;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;

  &.ant-btn-primary {
    border: 2px solid theme.$primaryColor;
    color: theme.$whiteColor;
    background-color: theme.$primaryColor;
    &:hover,
    &:focus {
      color: rgb(theme.$whiteColor, 85%);
      background: theme.$primaryHoverColor;
      border-color: theme.$primaryHoverColor;
    }

    &:active {
      color: theme.$whiteColor;
      background-color: theme.$primaryColor;
      border-color: theme.$primaryColor;
    }
  }

  &.ant-btn-secondary {
    border: 2px solid theme.$primaryColor;
    color: theme.$primaryColor;
    background-color: transparent;
    &:hover,
    &:focus {
      color: theme.$secondaryColor;
      background: rgb(theme.$whiteColor, 35%);
      border-color: theme.$secondaryColor;
    }

    &:active {
      color: theme.$primaryColor;
      background-color: transparent;
      border-color: theme.$primaryColor;
    }
  }

  &.ant-btn-ghost {
    border: 2px solid theme.$greyDCDCDC;
    color: theme.$primaryColor;
    background-color: theme.$whiteColor;
    &:hover,
    &:focus {
      color: theme.$secondaryColor;
      background: rgb(theme.$whiteColor, 35%);
      border-color: theme.$secondaryColor;
    }
  }

  &.control-btn {
    padding: 15px 12px 15px 18px;
    border-radius: 50%;

    &.active {
      background-color: theme.$greenColor;
      border: 2px solid theme.$greenColor;
    }
  }
}
