@use "../sass/theme" as theme;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@900&display=swap");
/* Default font : Montserrat, Roboto use as 'theme.$robotoFont' varaible */

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: calc(100vw - 60px);
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1340px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: theme.$robotoFont;
  font-size: 3.75rem; /* 60px */
  margin-bottom: 0.375rem; /* 6px */
}

p {
  font-size: 1rem; /* 18px */
  color: theme.$textColor;
}
