@use "../sass/theme" as theme;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@900&display=swap");
/* Default font : Montserrat, Roboto use as 'theme.$robotoFont' varaible */

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: calc(100vw - 60px);
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1340px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

@mixin text-style($name, $family, $size, $weight, $color, $margin-bottom) {
  #{$name} {
    font-family: $family;
    font-size: #{$size}rem;
    font-weight: $weight;
    color: $color;
    margin-bottom: $margin-bottom;
  }
}

@include text-style(
  "h1",
  theme.$robotoFont,
  3.75,
  800,
  theme.$primaryColor,
  0.375rem
);

@include text-style(
  "h2",
  theme.$robotoFont,
  2.5,
  600,
  theme.$primaryColor,
  0.375rem
);

p {
  font-size: 1rem; /* 18px */
  color: theme.$textColor;
}
