/* Colors */
$primaryColor: #082e65;
$primaryHoverColor: #0c4ca7;
$secondaryColor: #3378bb;
$greenColor: #a4d644;
$greenHoverColor: #7cb11b;
$blackColor: #191919;
$textColor: #333840;
$whiteColor: #ffffff;
$greyDCDCDC: #dcdcdc;
$greyA1A1A1: #a1a1a1;

/* Spacing */
$borderRadius: 0.5rem; /* 8px */

/* Fonts */
$robotoFont: "Roboto", sans-serif;
