/* Colors */
$primaryColor: #082e65;
$primaryHoverColor: #0c4ca7;
$secondaryColor: #3378bb;
$greenColor: #a4d644;
$greenHoverColor: #7cb11b;
$blackColor: #191919;
$textColor: #333840;
$whiteColor: #ffffff;
$greyDCDCDC: #dcdcdc;
$greyA1A1A1: #a1a1a1;
$greyC5C5C5: #c5c5c5;
$footerColor: #203656;
$blueTextColor: #a6b4c5;

/* Spacing */
$borderRadius: 0.75rem; /* 8px */

/* Fonts */
$defaultFont: "Montserrat", sans-serif;
$robotoFont: "Roboto", sans-serif;
