@use "../../assests/sass/theme" as theme;

nav {
  &.navbar {
    padding: 1.5rem 0;
    transition: background-color ease-in-out 0.3s;

    &.scrolled {
      background-color: theme.$whiteColor;
    }
  }

  .navbar-brand {
    padding: 8px;
    background-color: rgb(theme.$whiteColor, 45%);
    border-radius: 6px;

    img {
      @media (max-width: 767px) {
        height: 45px !important;
      }
      @media (min-width: 768px) {
        width: 200px !important;
      }
    }
  }

  .menu-item-wrap {
    @media (max-width: 767px) {
      .icon-img {
        margin-right: 0 !important;
      }
      span {
        display: none;
      }
    }
    @media (min-width: 768px) {
      span {
        display: block;
      }
    }
  }
}

.avatar {
  padding: unset !important;
  border: unset !important;

  img {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
