@use "../../assests/sass/theme" as theme;

.item-slide {
  @media (max-width: 767px) {
    margin-top: 9.375rem; /* 150px */
  }
  @media (min-width: 768px) {
    margin-top: 5rem; /* 80px */
  }

  .top-section {
    margin-bottom: 1.688rem; /* 27px */
  }

  .card {
    border: 1px solid rgb(theme.$greyDCDCDC, 50%);
    border-radius: theme.$borderRadius;
    box-shadow: 0 0 16px rgb(theme.$blackColor, 16%);

    .control {
      position: relative;
      width: 100%;
      padding-top: 80%; /* 1:1 Aspect Ratio */

      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: theme.$borderRadius theme.$borderRadius 0 0;
        object-fit: cover;
        object-position: center;
      }

      .control-btn {
        position: absolute;
        right: 10px;
        bottom: -20px;
        border: 6px solid theme.$whiteColor;

        .icon {
          // width: 30px !important;
          // height: 30px !important;
        }
      }
    }

    .detail {
      padding: 30px;
      height: 92px;
    }

    .extra {
      margin-top: 1.875rem; /* 30px */
      padding: 0 30px 30px;

      span {
        font-size: 1rem;
        color: theme.$secondaryColor;
      }

      .menu-icon {
        padding: unset;
        border: unset;
        color: theme.$greyC5C5C5;
        &:hover,
        &:focus {
          color: theme.$secondaryColor;
        }
      }
    }
  }
}
